* {
    font-family: sans-serif;
}

.pull-requests {
    width: 1020px;
    margin: auto;
    border: 1px solid #e1e4e8;
}

.pull-requests-count {
    padding: 20px;
    border-bottom: 1px solid #e1e4e8;
    background-color: #f6f8fa;
}

.checks {
    margin: 0 5px;
}

.checks-success {
    fill: #28a745;
}

.checks-failed {
    fill: #cb2431;
}

.pull-requests-count {
    display: flex;
}

.pull-request-data {
    width: 100%;
}

.pull-request-icon {
}

.pull-request-icon-open {
    fill: #28a745;
}

.pull-request-icon-merged {
    fill: #6f42c1;
}

.pull-request-icon-closed {
    fill: #cb2431;
}

.pull-request {
    display: flex;
    padding: 10px 20px;
    border-bottom: 1px solid #e1e4e8;
}

.pr-date-and-author {
    color: #586069;
}

.pr-author {
    text-decoration: none;
    color: #586069;
}

.pr-author:hover {
    color: #0366d6;
}

.label {
    padding: .15em 4px;
    border-radius: 2px;
    box-shadow: inset 0 -1px 0 rgba(27,31,35,.12);
    white-space: nowrap;
}

.label {
    color: #fff;
}

.label[data-label='CLA Signed'] {
    background-color: #009900;
    color: #000!important;
}

.label[data-label='tag: documentation'] {
    background-color: #006b75;
}

.label[data-label='tag: internal'] {
    background-color: #bfdadc;
    color: #000!important;
}

.label[data-label='tag: underlying tools'] {
    background-color: #d93f0b;
}

.label[data-label='tag: breaking change'] {
    background-color: #e11d21;
}

.label[data-label='tag: new-feature'] {
    background-color: #0e8a16;
}

.pr-title {
    text-decoration: none;
    color: #24292e;
    font-weight: 600;
    font-size: 110%;
}

.pr-title:hover {
    color: #0366d6;
}

.pr-title-labels-comments {
    display: flex;
}

.pr-title-and-labels {
    width: 75%;
}

.comments {
    width: 25%;
    text-align: right;
}
