.wrapper {
  display: block;
  max-width: 1120px;
  margin: auto;
  justify-content: left;
}

.request_list {
  list-style: none;
  display: block;
}

.request_row {
  display: flex;
  flex-wrap: wrap;
  width:  100%;
  padding: 5px;
}

.primary_info_block {
  display: flex;
  width:  80%;
  justify-content: flex-start;
}

.comments_block {
  display: flex;
  width:  10%;
  justify-content: flex-end;
}

.additional_info_block {
  display: flex;
  width:  100%;
}

.open {
  width: 15px;
  height: 15px;
  background-image: url('open.png');
  background-size: cover;
}

.closed {
  width: 15px;
  height: 15px;
  background-image: url('closed.png');
  background-size: cover;
}

.NOT_OK {
  width: 12px;
  height: 12px;
  background-image: url('checks-OK-false.png');
  background-size: cover;
}

.OK {
  width: 12px;
  height: 12px;
  background-image: url('checks-OK-true.png');
  background-size: cover;
}

.comments_picture {
  width: 15px;
  height: 15px;
  background-image: url('comment.png');
  background-size: cover;
}

.comments {
  padding-left: 5px;
  font-size: 12px;
}

.description {
  padding-left: 8px;
  padding-right: 8px;
  font-size: 15px;
  font-weight: bold;
}

.tags {
  margin-left: 5px;
  padding-top: 2px;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 14px;
  background-color:#1ba30c;
}

.request_id {
  margin-left: 20px;
  padding-top: 2px;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 14px;
}

.date {
  padding-top: 2px;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 14px;
}

.author {
  padding-top: 2px;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 14px;
}